.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

body {
  background: #1f1f1f;
  margin: 0;
  height: 100vh;
}

.lists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}